body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.containerOne {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    padding: 0rem 9rem 3rem 9rem;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.heroContainer {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0rem 0.5rem;
}

.placeholder {
    max-width: 650px;
}

.btn {
    padding: 0.85rem 2rem;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    outline: none;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: -1rem;
}

p.heroSubtext {
    font-size: 18px;
    color: #9b9ea3;
}

p.contentSubtext {
    font-size: 16px;
    color: #9b9ea3;
    margin: 0.75rem 1.2rem 1.2rem 1.2rem;
    text-align: center;
}

.heroTitle {
    margin-right: 3rem;
    margin-top: 1rem;
    font-size: 48px;
    color: #F9FAF8;
}

.headerText {
    text-align: center;
    margin: 2rem 0rem;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0rem 8rem 3rem 8rem;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.picCol { 
    max-width: 200px;
    border: 5px solid lightblue;
    border-radius: 15px;
    justify-content: center;
}

.containerThree {
    background-color: #E5E7EB;
    font-style: italic;
    font-weight: lighter;
    padding: 0rem 9rem 3rem 9rem;
    /* display: flex;
    flex-direction: column; */
}

p.quote {
    color: #1F2937;
    font-size: 36px;
    padding: 3rem 3rem 0rem 3rem;
    font-weight: 50;
}

p.quoteBy {
    font-weight: bold;
    display: flex;
    justify-content: right;
    padding-right: 9rem;
}

@media screen and (max-width: 600px) {
    .divOne {
        padding: 0rem;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
    }
    .heroContainer {
        display: flex;
        flex-direction: column;
    }

    .heroImg {
        display: flex;
        flex-direction: column;
        max-width: 400px;
    }

    .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0rem;
    }
  }