body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.divOne {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    padding: 0rem 8rem 3rem 8rem;
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.heroContainer {
    display: flex;
    margin-top: 4rem;
}

li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0rem 0.5rem;
}

.placeholder {
    max-width: 650px;
    margin-left: 3rem;
    overflow: auto;
}

.btn {
    padding: 0.85rem 2rem;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    outline: none;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: -1rem;
}

p {
    font-size: 18px;
    color: #E5E7EB;

}
.heroText {
    margin-right: 3rem;
    margin-top: 1rem;
}